html {
  background-color: #efefef;
  padding: 0;
  margin: 0;
}

.layout {
  margin: 0 auto;
  padding: 0;
}

.siteHeader {
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.siteHeader nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font: 100%/1.625 -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.siteHeader nav ul {
  grid-column-start: 3;
  grid-column-end: 4;
}

.siteHeader nav ul li {
  display: inline-block;
}

.siteHeader nav ul li a {
  padding: 0 10px;
  box-shadow: none;
}

.main {
  max-width: 64vw;
  margin: 0 auto;
  font-family: "Lora", sans-serif;
}

.main h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.main h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.main p {
  font-size: 1.25rem;
  line-height: 1.75;
  padding-bottom: 1rem;
}

.main footer {
  margin: 2rem 0 3rem;
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  color: #ddd;
  font: 100%/1.625 -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
